<!doctype html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/main.css"/>
    <head>
        <script src="/main.js" defer></script>
    </head>
    <body>

        <template id="the-app">
            <div class="c-the-app">
                <manager></manager>
                <all-tabs></all-tabs>
            </div>
        </template>

        <template id="manager">
            <div class="c-manager">
                <div class="c-manager-status">
                    <table>
                        <tr>
                            <td>Runing: </td><td></td>
                        </tr>
                    </table>
                </div>
                <div class="c-manager-cmds">
                    <input type="button" value="Start" v-on:click="start">
                    <input type="button" value="Stop" v-on:click="stop">

                    <input type="button" value="Delete" v-on:click="_delete">

                    <input type="button" value="Update All" v-on:click="update_all">
                    <input type="button" value="Update Current" v-on:click="update_current">
                    <input type="button" value="Update Remain" v-on:click="update_remain">

                    <input type="button" value="Upload All" v-on:click="upload_all">
                    <input type="button" value="Upload Current" v-on:click="upload_current">
                    <input type="button" value="Uplaod Remain" v-on:click="upload_remain">
                </div>
            </div>
        </template>

        <template id="all-tabs">
            <div class="c-all-tabs">
                <select-list></select-list>
                <li v-for="config in m_configs">
                    <config-tab></config-tab>
                </li>
            </div>
        </template>

        <template id="select-list">
            <div class="c-select-list">
                <li v-for="name in m_names" v-bind:data-location="name[0]" v-on:click="click_listener">
                    {{ name[1] }}
                </li>
            </div>
        </template>

        <template id="config-tab">
            <div class="c-config-tab" v-bind:class="{ active: is_actived }">
                <config-page ></config-page>
                <config-users></config-users>
            </div>
        </template>

        <template id="config-page">
        <div class="c-config-page">
            <table>
                <tr><td>server name</td> <td><input v-model="name" placeholder=""><span></span></td></tr>
                <tr><td>bind address</td><td><input v-model="bind_addr" placeholder=""><span></span></td></tr>
                <tr><td>bind port   </td><td><input v-model="bind_port" placeholder=""><span></span></td></tr>
                <tr><td>certificate </td><td><input v-model="certificate" placeholder=""><span></span></td></tr>
                <tr><td>privateKey  </td><td><input v-model="private_key" placeholder=""><span></span></td></tr>
                <tr><td>ciphers     </td><td><input v-model="ciphers" placeholder=""><span></span></td></tr>
            </table>
        </div>
        </template>

        <template id="config-users">
            <div class="c-config-users">
                <li v-for="user in users">
                    <user-slot></user-slot>
                </li>
                <li class="add-user" v-on:click="add_user_listener"><div>new</div></li>
            </div>
        </template>

        <template id="user-slot">
            <div class="c-user-slot">
                <table>
                    <tr>
                        <!-- <td>username</td> -->
                        <td><input v-model="username"></td>
                    </tr>
                    <tr>
                        <!-- <td>password</td> -->
                        <td><input v-bind:type="password_type" v-model="password"></td>
                    </tr>
                </table>

                <div>
                    <div v-on:click="delete_slot">&cross;</div>
                    <input type="checkbox" v-model="password_checked">
                </div>
            </div>
        </template>

        <div id="app"></div>
    </body>
</html>

