/** color definition */


$bg-config-main: #EAEAEA;
$bg-config-select-area: #BBB;
$bg-config-select-no: #B5B5B5;

$input-border-a: #CCB;
$input-border-b: #BBC;

$bg-config-user-slot:     #DDD;
$bg-config-user-slot-add: #DADADA;

$font-config-field: #778;
$font-config-input: #525;
$font-config-names: #447;
$font-user-slot:    #555;
$font-user-slot-add:#999;

$bg-app: #FFFFFF;

$bg-manager-main: #AAA;

