/** config part */

@use './mixin.scss' as mixin;
@use './colors.scss' as ucolor;
@use 'sass:color';

@function hovercolor($color) {
    @return darken($color, 10%);
}

.c-all-tabs {
    display: flex;
    flex-flow: row;
    flex-direction: column;
    height: 100%;

    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
    width: 98%;

    > li {
        > .c-config-tab {
            display: none;
            flex-flow: row;
        }

        > .active {
            display: flex;
        }
    }
}


.c-select-list //{
{
    width: 100%;
    box-sizing: border-box;

    border-radius: 1.5em 1.5em 0em 0em;
    padding: 0.3em 0.3em 0em 0.3em;
    background-color: ucolor.$bg-config-select-area;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 1em;
    flex-grow: 1;

    & .active {
        background-color: ucolor.$bg-config-main;

        &:hover {
            background-color: hovercolor(ucolor.$bg-config-main);
        }
    }

    > li {
        @include mixin.no-select();
        width: 100%;
        color: ucolor.$font-config-names;
        margin: 0.5em 1em 0em 1em;
        padding: 0.5em 0.8em 0.3em 0.8em;
        background-color: ucolor.$bg-config-select-no;
        border-radius: 0.3em 0.3em 0em 0em;

        text-align: center;

        &:hover {
            background-color: hovercolor(ucolor.$bg-config-select-no);
        }
    }
} //}


.c-config-tab 
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: ucolor.$bg-config-main;

    border-radius: 0em 0em 0.2em 0.2em;

    .c-config-page {
        width: 65%;
        box-sizing: border-box;
        height: min-content;

        table {
            @include mixin.no-select();
            font-size: .8em;
            width: 90%;
            tr {
                margin: 1em 0em;
                padding: 0.5em;
                font-family: sans-serif;

                & > td:first-child {
                    color: ucolor.$font-config-field;
                    padding: 0.8em;
                }

                & > td:last-child {
                    display: flex;
                    flex-direction: column;

                    width: 100%;
                    input {
                        color: ucolor.$font-config-input;
                        box-sizing: border-box;
                        background-color: rgb(0, 0, 0, 0);
                        width: 100%;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        border-bottom: 1px solid ucolor.$input-border-a;

                        &:focus {
                            outline: none;
                        }
                    }

                    span {
                        box-sizing: border-box;
                        margin: 0em;
                        padding: 0em;
                        width: 0%;
                        height: 1.5px;
                        background-color: ucolor.$input-border-b;

                        transition: 0.5s;
                    }

                    input:focus ~ span {
                        width: 100%;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .c-config-users {
        width: 35%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        & > li {
            flex-basis: 1em;
            flex-grow: 1;
        }
    }
}


.c-user-slot, .add-user {
    width: 95%;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.3em;
    background-color: ucolor.$bg-config-user-slot;

    display: flex;
    flex-direction: row;

    table {
        width: 100%;
        @include mixin.no-select();
        tr {
            & > td {
                width: max-content;
            }
            & > td:first-child {
                padding: 0.2em;
            }

            input {
                color: ucolor.$font-user-slot;
                background-color: ucolor.$bg-config-user-slot;
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1.5px solid ucolor.$input-border-a;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > input, div {
            height: 1em;
            width: 1em;
        }

        & > div {
            @include mixin.no-select();
            position: relative;
            top: -0.5em;
            left: 0.4em;

            padding: 0.1em;
            border-radius: 0.2em;

            width: min-content;
            height: min-content;

            &:hover {
                background-color: hovercolor(ucolor.$bg-config-user-slot);
            }

            &:active {
                background-color: hovercolor(hovercolor(ucolor.$bg-config-user-slot));
            }
        }

        & > input[type="checkbox"] {
            position: relative;
            left: 0.2em;
            top: 0.1em;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: none;
        }
    }
}

.add-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mixin.no-select();
    @include mixin.common_button(ucolor.$bg-config-user-slot-add, ucolor.$font-user-slot-add);
}
