/** sass mixin */

/** forbid selecting text */
@mixin no-select() //{
{
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      none;
    -ms-user-select:       none;
    user-select:           none;
} //}

/** rectangle with center point at layout point */
@mixin center-rectangle($width, $height) //{
{
    width: $width;
    height: $height;
    margin-left: -$width / 2;
    margin-top:  -$height / 2;
} //}

/** simple button */
@mixin common_button($bg, $fg) //{
{
    @include no-select();
    flex-basis: 0px;
    flex-grow: 1;
    color: $fg;
    padding: 0.2em 0.3em;
    margin: 0em 0.3em;
    background-color: $bg;
    border: thin;
    box-shadow: 0.15em 0.15em darken($bg, 20%);
    &:hover {
        background-color: darken($bg, 10%);
    }
    &:focus {
        border: thick darken($bg, 20%);
        background-color: darken($bg, 10%);
    }
    &:active {
        border: thick darken($bg, 20%);
        background-color: darken($bg, 30%);
    }
} //}

